
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}


<span style="color:red;">Not: Hakkımızda sayfasını düzenlemek için "Sayfalar" isimli sayfadan arama yapıp bularak ordan içerik düzenlemesi yapabilirnisiz. </span>